---
# tasks file for ansible-docker

# ------------------------------------------------------------------------------

- name: "INSTALL | check python version for arg '--break-system-packages'"
  ansible.builtin.set_fact:
    py_extra_args: "--break-system-packages"
  when:
    - ansible_facts['python_version'] >= "3.11"
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | install docker dependencies (apt)"
  ansible.builtin.apt:
    name: "{{ cis_docker_package_dependencies }}"
    state: present
    force_apt_get: true # apt-get instead of aptitude
    update_cache: true
  when:
    - cis_docker_package_dependencies is defined
    - cis_docker_package_dependencies is not none
  tags:
    - install

- name: "INSTALL | install docker dependencies (pip)"
  ansible.builtin.pip:
    name: "{{ item }}"
    extra_args: "{{ py_extra_args | default('') }}"
  loop: "{{ cis_docker_pip_dependencies | flatten(levels=1) }}"
  when:
    - cis_docker_pip_dependencies is defined
    - cis_docker_pip_dependencies is not none
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | compute filename (sanitised, hyphenated)"
  ansible.builtin.set_fact:
    cis_docker_apt_filename: >-
      {{ (
          (cis_docker_install_repo | default(''))
          | regex_replace('^https?://', '')
          | regex_replace('[^A-Za-z0-9]+', '-')
          | regex_replace('-{2,}', '-')
          | regex_replace('(^-+|-+$)', '')
         )
         | lower
      }}
  tags:
    - install

- name: "INSTALL | ensure fallback filename when computed name is empty"
  ansible.builtin.set_fact:
    cis_docker_apt_filename: "{{ 'apt-' + (cis_docker_install_repo | default('') | hash('sha1'))[0:8] }}"
  when: cis_docker_apt_filename is not defined or (cis_docker_apt_filename | length) == 0
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | add Docker apt signing key (download)"
  ansible.builtin.get_url:
    url: "{{ cis_docker_install_gpg.url }}"
    dest: "{{ cis_docker_install_gpg.path }}/{{ cis_docker_install_gpg.name }}"
    mode: "0644"
    force: true
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | get OS architecture"
  ansible.builtin.command: dpkg --print-architecture
  changed_when: false
  register: cis_docker_os_architecture
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | compute candidate distro"
  ansible.builtin.set_fact:
    cis_docker_os_distribution: "{{ (ansible_lsb.codename | default(ansible_distribution_release | default(''))) | lower }}"
  tags:
    - install

- name: "INSTALL | check if Docker repo has dists/<codename>"
  ansible.builtin.uri:
    url: "https://download.docker.com/linux/ubuntu/dists/{{ cis_docker_os_distribution }}/{{ cis_docker_install_version }}"
    method: HEAD
    return_content: false
    status_code: 200
    timeout: 10
  register: cis_docker_repo_check
  ignore_errors: true
  tags:
    - install

- name: "INSTALL | choose fallback Docker distribution if repo dists/<codename> not available"
  ansible.builtin.set_fact:
    cis_docker_os_distribution: "{{ cis_docker_install_release_fallback }}"
  when:
    - cis_docker_install_release_fallback is defined
    - |
      (
        cis_docker_repo_check is defined and
        cis_docker_repo_check.status is defined and
        cis_docker_repo_check.status != 200
      )
      or
      (
        cis_docker_os_distribution is defined and
        cis_docker_install_release_skip is defined and
        cis_docker_install_release_skip is not none and
        cis_docker_os_distribution == cis_docker_install_release_skip
      )
  tags:
    - install

# ------------------------------------------------------------------------------

# old style
- name: "INSTALL | add Docker repository into sources list"
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ cis_docker_os_architecture.stdout }}
      signed-by={{ cis_docker_install_gpg.path }}/{{ cis_docker_install_gpg.name }}]
      {{ cis_docker_install_repo }} {{ cis_docker_os_distribution }} {{ cis_docker_install_version }}
    state: present
    mode: "0644"
  when: not cis_docker_distribution_key_use_modern_sources
  tags:
    - install

# modern style
- name: "INSTALL | add .sources file to '/etc/apt/sources.list.d'"
  ansible.builtin.template:
    src: apt-sources.j2
    dest: "/etc/apt/sources.list.d/{{ cis_docker_apt_filename }}.sources"
    owner: root
    group: root
    mode: "0644"
  when: cis_docker_distribution_key_use_modern_sources
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | install Docker apt packages"
  ansible.builtin.apt:
    pkg: "{{ cis_docker_install_apt }}"
    state: present
    force_apt_get: true # apt-get instead of aptitude
    update_cache: true
  when:
    - cis_docker_install_apt is defined
    - cis_docker_install_apt is not none
  tags:
    - install

# ------------------------------------------------------------------------------

- name: "INSTALL | install docker packages (pip)"
  ansible.builtin.pip:
    name: "{{ item }}"
    extra_args: "{{ py_extra_args | default('') }}"
  loop: "{{ cis_docker_install_pip | flatten(levels=1) }}"
  when:
    - cis_docker_install_pip is defined
    - cis_docker_install_pip is not none
  tags:
    - install
